.fileNotFound {
    width: 450px;
    font-weight: 200;
}

.audioContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 450px;
}

.audioControls {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 5px;
    width: 100%;
}

.playButton {
    height: 40px;
    width: 40px;
    border-radius: 50%;

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.progressBar {
    flex: 1;
    height: 10px;
    appearance: none;
    background: #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
        appearance: none;
        width: 10px;
        height: 10px;
        background: #000;

    }

    &::-moz-range-thumb {
        border: none;
        width: 10px;
        height: 10px;
        background: #000;
    }
}

.time {
    width: 40px;
    font-size: 0.85rem;
    text-align: center;
    color: #333;
}

@media (max-width:768px) {
    .fileNotFound {
        width: 100%;
    }

    .audioContainer {
        width: 100%;
    }
}