// Colors
$primary-color: #3B82F6;
$secondary-color: #2366d3;
$text-color: #111827;
$dark-color: #111111;
$red-color: #C03221;
$red-color-hover: #9a180a;
$bg-color: #f9fafb;

// Fonts
$font-main: 'Geologica', sans-serif;
$font-size-base: 16px;