@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size-base;
    font-family: $font-main;
    color: $text-color;
    background-color: $bg-color;
}

body {
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-main;
    color: #111827;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

p,
button {
    font-family: $font-main;
}