@use '../../../../../../styles/variables' as *;

.button {
    background-color: $primary-color;
    color: white;
    transition: background-color 0.3s;
    padding: 12px;
    border-radius: 50%;
    border: 0;

    &:hover {
        background-color: $secondary-color;
    }

    i {
        height: 15px;
        width: 15px;
    }
}